{% extends "base.html" %}

{% block contenido %}
<div class="col-md-6">
    <form class="transfot" method="POST">
       <div class="col-md-12">
          <span>SQL Postgres</span>
          <h3>Inicia sesión</h3>
       </div>
       <div class="col-md-12">
          <input class="transfot_form" placeholder="Nombre" type="text" name="username" required>
       </div>
       <div class="col-md-12">
          <input class="transfot_form" placeholder="Contraseña" type="password" name="password" required>
       </div>
       <div class="col-md-12">
          <label for="database">Selecciona una base de datos:</label>
          <select class="transfot_form" name="database" required>
             {% for db in databases %}
             <option value="{{ db }}">{{ db }}</option>
             {% endfor %}
          </select>
       </div>
       <div class="col-md-12">
          <button class="get_now" type="submit">Iniciar sesión</button>
       </div>
    </form>
 </div>
{% endblock %}
